@import './mixins';
@import './colors.module.scss';

.footer {
  .content {
    @include width;
    @include desktop;
  }

  .container:nth-child(1) {
    background-color: $textDark;
    padding: 50px 0;

    .content {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 30px;

      @include tablet {
        display: flex;
        flex-direction: column;
      }

      .logo h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $lightColor;
      }

      .categories {
        p {
          margin-bottom: 20px;
          border-bottom: 1px solid $lightColor;
          padding-bottom: 5px;
          color: $lightColor;
        }

        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 10px;

          @include mobile {
            grid-template-columns: 1fr;
          }

          li a {
            text-transform: capitalize;
            font-size: 16px;
            color: $lightColor;
          }

          a:hover {
            border-bottom: 1px solid $lightColor;
          }
        }
      }
    }
  }

  .container:nth-child(2) {
    background-color: #000;

    .content {
      padding: 10px 0;

      p,
      span {
        font-size: 14px;
        color: rgba($color: $lightColor, $alpha: 0.8);
        text-align: center;
      }

      span {
        text-decoration: line-through;
      }
    }
  }
}
