* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  background-color: #fff;
  height: 5000px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: 1rem;
  cursor: pointer;
}

input {
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: 1rem;
  border: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #fff;
}
