@import './mixins';
@import './colors.module.scss';

.search {
  @include width;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include mobileLandscape {
    margin-top: 20px;
  }
}
